
/* ABOUT PAGE */

.hero-image-header {
	margin-bottom: 3em;
	height: 100vh;
}
.post-18 .entry-header {
	display: none;
}
.hero-image-header h1 {
	display: block;
}
.entry-content h1{
	display: flex;
	font-size: 3.2em;
	color: #fff;

}
.entry-content>:not(.entry-header) {
	margin: 30px auto;
	max-width: 900px;
}
	
.page-template-page-about .entry-content h2 {
	color: #2f1339;
	text-transform: uppercase;
	font-size: 2em;
	font-family: $font__nove;
	margin-bottom: 1.5em;
	text-align: center;

}
.page-template-page-about p {
	font-family: $font__merri;
	font-size: 1.1em;
	line-height: 2em;
}


