/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Index Main */

/* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/*-----------------------------------------------------------------------*/

/* SHOP STUFF PAGE - arquive-product.php */

.post-type-archive-product .page-header, .tax-product-type .page-header {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
	text-align: center;
	
	.product-type-list {
		display: flex;
		font-family: $font__nove;
		font-size: 1.2rem;
		justify-content: center;
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		text-transform: uppercase;

		li {
			margin: 0 1.5rem;
		}
		a {
			color: #248a83;
			text-decoration: none;
		}
	}
}
.product-grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1.5rem;
	margin-bottom: 1.5rem;

	.product-grid-item {
		border: 1px solid #e1e1e1;

		.wp-post-image {
			left: 50%;
			max-height: 250px;
			max-width: none;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-52%);
			width: auto;
		}

		.thumbnail-wrapper {
			background-color: #e1e1e1;
			height: 250px;
			overflow: hidden;
			position: relative;
		}
		.product-info {
			font-size: 14.4px;
			font-size: .9rem;
			padding: .75rem 1rem;

			.price {
				float: right;
				padding-left: .25rem;
				background: #fff;
			}
			.entry-title {
				background: #fff;
				display: inline;
				font-size: 16px;
				font-size: 1rem;
				font-weight: 400;
				font-family: $font__merri;
				letter-spacing: 0;
				line-height: 1.75;
				padding-right: .25rem;
				text-transform: none;

				&:before {
					float: left;
					width: 0;
					white-space: nowrap;
					content: "...................................................";
				}
			}
		}
	}
}

