/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Index Main */




/* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Front-page */

.home .home-hero {
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg),#969696;
	background-size: cover,cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.journal-section {
	display: flex;

	.title-section {
		order: 1;
		flex-wrap: nowrap;
	}

}


/* FIND US PAGE */ 

.page-id-20 {
	padding: 0px 180px;
	display: flex;

	.p3 {
		color: #2f1339;
		text-transform: uppercase;
		font-size: 2.1rem;
		margin-bottom: 1.5rem;
	}
	.p4 {
		color: #404040;
		font-family: 'Merriweather';
		font-size: 1rem;
		line-height: 1.75;
	}
}

/* ABOUT PAGE */
.hero-image-header {
	margin-bottom: 3em;
	height: 100vh;
}
.entry-header h1 {
	display: none;
}
.entry-content h1{
	display: flex;
	font-size: 3.2em;
	color: #fff;

}
.entry-content>:not(.entry-header) {
	margin: 30px auto;
	max-width: 900px;
}
	
.page-template-page-about .entry-content h2 {
	color: #2f1339;
	text-transform: uppercase;
	font-size: 2em;
	font-family: $font__nove;
	margin-bottom: 1.5em;
	text-align: center;

}
p {
	font-family: $font__merri;
	font-size: 1.1em;
	line-height: 2em;
}


