/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include font-size(1.2);
	line-height: 1;
	background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
	font-family: 'Novecento';
	font-weight: 100;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

	&:hover {
	background-color: rgb(14, 100, 94);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
