/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@include font-size(1);
	line-height: 1;
	background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
	font-family: $font__nove;
    padding: .75rem 1.5rem;
    text-decoration: none;
	text-transform: uppercase;

	&:hover {
	background-color: rgb(14, 100, 94);
	border: none;
	color: white;
	}
}

.black-btn, .btn, .white-btn, button, input[type=button], input[type=reset], input[type=submit] {
    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: $font__nove;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.black-btn:active, .black-btn:focus, .black-btn:hover, .btn:active, .btn:focus, .btn:hover, .white-btn:active, .white-btn:focus, .white-btn:hover, button:active, button:focus, button:hover, input[type=button]:active, input[type=button]:focus, input[type=button]:hover, input[type=reset]:active, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover {
    background: #19625d;
    color: #fff;
}

.black-btn:active, .black-btn:focus, .black-btn:hover, .white-btn:active, .white-btn:focus, .white-btn:hover {
    background-color: #248a83;
    border: 1px solid #248a83;
    color: #fff;
}

.white-btn {
    border: 1px solid #fff;
    color: #fff;
}

.black-btn {
    border: 1px solid #000;
    color: #000;
}

.black-btn, .white-btn {
    background-color: transparent;
}


/* Fields */

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"] {
    padding: .3rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label {
    color: #2f1339;
    display: block;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}