/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: #248a83;
	text-decoration: none;
	}

/* Menus */

.main-navigation {
	font-family: sans-serif;
	padding: 10px;  


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

		}

	li:hover > ul,
	li.focus > ul {
		left: auto;
	}

	li {
		float: left;
		position: relative;

	}
	a {
		display: block;
		text-decoration: none;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
		display: none;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Header */

.site-header {
    width: 100%;
    padding: 10px 180px;
	position: relative;
	
	.site-branding {
		display: flex;
		justify-content: space-between;

	}
    .logo {
		width: 5%;
	}
	.menu .menu-item a {
		color: #fff;
		font-size: 1.1em;
		padding-left: 20px;

		&:hover {
			color: $color__yellow-brand;
		}
	}
	fieldset {
		padding: 0;
		border: none;
		margin-left: 30px;
	}
}

.header-search {
	.search-toggle {
		color: #248a83;
		float: left;
		padding-top: .33rem;
	}
	label {
		display: none;
		float: left;
		margin: 0;
	}
}
.header-search input[type=search] {
	border: 0;
	background: transparent;
	transform: width 0.4s ease-in-out;
	font-family: Novecento Sans Web,sans-serif;
	margin-left: .75rem;
	padding: 0 .3rem;
	text-transform: uppercase;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}
.fa-search:before {
	content: "\f002";
	color: white;
}

.site-header.reverse {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #e1e1e1;

	.logo {
		width: 27%;
	}
	fieldset {
		padding: 0;
		border: none;
		margin-left: 30px;
	}
	.menu .menu-item a {
		color: $color__green-brand;
		font-size: 1.1em;
		padding-left: 20px;
	}
	.main-navigation {
		display: block;
	}
}


.home header.site-header, .page-template-page-about header.site-header  {
	background-color: transparent;
	position: absolute;
}




/* Widget Area */




/* Footer */

body footer.site-footer {
    background: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px;
    color: #fff;
	
	a {
		color: #fff;
		text-decoration: none;
	}
    .site-info {
        padding: 1.5rem 0;
        text-align: center;
        text-transform: uppercase;
        font-family: $font__nove;
    }

    .content{
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .widget-container, .footer-block-item {
            margin: 3rem 0;
            // padding-right: 1.5rem;
            width: 25%;        

            h3 {
                color: #d99054;
                font-size: 1.4em;
                margin-bottom: .75rem;
                text-transform: uppercase;
            }
            p {
                margin-bottom: .5rem;
                font-family: $font__merri;
                
                i {
                    font-size: 20px;
                    font-size: 1.25rem;
                    margin-right: .5rem;
                }
            }
            p.contact-meta a {
                color: #fff;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            span{
                font-weight: bold;
            }
            .footer-logo{
                background: url(../../images/logos/inhabitent-logo-text.svg) no-repeat;
                background-size: 14em;
                width: 100%;
                height: 3.6em;
            }
        }
    }
}
