/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


body, button, input, select, textarea {
	color: $color__text-main;
	font-family: $font__merri;
    font-size: 1rem;
	line-height: 1.75;
}
/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-family: $font__nove;
	font-size: 2.4rem;
    font-weight: 300;
	margin-bottom: .5rem;
	text-transform: uppercase;
	line-height: 1.25;
}
h2 {
    color: #2f1339;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    font-family: $font__nove;
    letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.25;
}
h3 {
	font-family: $font__nove;
	font-size: 1.8em;
	line-height: 1.25;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a {
    color: #248a83;
    text-decoration: none;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

