// Structure

$base__space-unit: 1.5rem;


// Colors

$color__text-main: #404040;
$color__background-screen: #ffffff;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__green-brand: #248A83;
$color__purple-brand: #2f1339;
$color__orange-brand: #d99054;
$color__yellow-brand: #f0e4d1;
$color__l-grey-brand: #a1a1a1;
$color__m-grey-brand: #808080;


// Typography

$font__main: sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__merri: 'Merriweather';
$font__nove: 'Novecento Sans Web', sans-serif;
